body{
	background-color: #ffffff;
	overflow-x:hidden;
	overflow-y:hidden;
}
/**
 * 省份
 */
.province-GD,.county{
	fill-opacity:0.2;
	fill:transparent;
	stroke:#333;
	fill-rule:evenodd;
	stroke-linecap:round;
	stroke-linejoin:round;
}
/**
 * 市与区
 */
.colorChange{
	fill-opacity:1;
	stroke:#999;
	fill-rule:evenodd;
	stroke-linecap:round;
	stroke-linejoin:round;
}
/**
 * 返回按钮
 */
#back-btn{
	position:fixed;
	z-index: 90;
	margin-top: 1%;
	margin-left: 5%;
	display:none;

}
/**
 * 缩放按钮
 */
#zoom-btn{
	position:fixed;
	z-index: 90;
	margin-top: 38%;
	margin-left: 5%;
}
/**
 * 颜色数字标尺
 */
.colorNumber{
	width:10px;
	height: 200px;
	position:fixed;
  	z-index: 90;
	background: linear-gradient(to bottom, rgba(15, 85, 71, 0), rgb(15, 85, 71));
	line-height:78px;
	padding-left: 10px;
}
.colorNum{
	position:fixed;
  	z-index: 90;
	margin-left: 95%;
	margin-top: 10%;
}
/**
 * 提示
 */
#map-tip
{
  position:fixed;
  z-index: 90;
  width:100px;
  height:80px;
  background-color: #232424;
  color: #a6a29d;
  display:none;
}
.textTip{
	margin-left: 15px;
}
.testCity,.testNumber{
	color:#00d0cb;
	margin-left: 5px;
}
#map-GDS{
	padding-top: 10%;
	padding-left: 10%;
}